/* Chat containers */
.container {
    border: 2px solid #cecccc;
    background-color: #b1afaf;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: rgb(150, 149, 149);
    background-color: rgb(107, 107, 107);
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

.chat_field .chat_message {
    height: 30px;
    resize: none;
    font-size: 13px;
    font-weight: 400;
}
.chat_field {
    position: fixed;
    bottom: 0;
    right:  0;
    margin: 20px 0 20px 0;
    width: 50%;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: #4b4b4b;
    -webkit-font-smoothing: antialiased;
    border: none;
    outline: none;
    display: inline-block;
    
}

